* {
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    background-color: #191919;
}
.header {
    height: 120px;
    width: 1600px;
    background-color: #FFC55A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 160px;
    padding-right: 160px;

}
.logo {
    height: 64px;
    display: flex;
    align-items: center;
}
.logo h1 {
    margin-left: 10px;
    font-family: "Roboto Slab", serif;
    font-size: 32px;
    line-height: 1;
}
.h-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 512px;
}
.button p, .button-active p {
    font-family: "Roboto Mono", monospace;
    font-size: 36px;
}
.button-active {
    padding-top: 22px;
    padding-bottom: 22px;
    border-bottom: 10px solid #B51B75;
}
.main{
    width: 85px;
    height: 300px;
    columns: 3 150px;
    margin-top: 40px;
}
.meow1{
    margin-left: 190px;
}
.meow2{
    margin-left: 698px;
}

.meow3{
    margin-left: 1206px;
}
.nyan{
    width: 1920px;
    height: 212px;
    margin-top: 200px;
}

