body {
    background-color: #27005D;
}
div {
    background-color: #E4F1FF;
    width: 85%;
    margin: auto;
    padding: 10px;
}
ul, ol {
    background-color: #AED2FF;
    width: 90%;
    margin: auto;
}
h1 {
    font-family: 'Raleway';
    font-size: 60px;
}
h2 {
    font-family: 'Raleway';
    font-size: 56px;
}
p {
    font-family: 'Raleway';
    font-size: 24px;
}
ul, ol {
    font-family: 'Raleway';
}